---
title: About
about: active
---
	{{> navbar }}

	{{!-- begin: content container --}}
	<main class="container">
		{{!-- begin: content --}}
		<h2>Kim Bridge: a History</h2>

			<h3>Philosophy</h3>
				<p>Did you know that more frozen bananas are sold right here on this boardwalk than anywhere in the OC? Get rid of the Seaward. Lucille: I'll leave when I'm good and ready. It feels good to be back in a queen!</p>

			<h3>Career</h3>
				<p>You were just a turd out there, you know? You couldn't kick, and you couldn't run, you know? You were just a turd. I [bleeped] the business model. Yeah, she had all kinds of orgasms. Yo quiero leche. Yo quiero leche de madre. I'll buy you a hundred George Michaels that you can teach to drive! Can you believe that the only reason the club is going under is because it's in a terrifying neighborhood?</p>

			<h3>Hobbies</h3>
				<p>However, she mistook the drowsy eye alcohol warning for a winking eye alcohol suggestion. Great, now I'm gonna smell to high heaven like a tuna melt! I just don't want him to point out my cracker ass in front of Ann. Sorry, some of my students are arguing the significance of the shankbone on the seder plate. But we do not - NOT wag our genitals at one another to make a point. Heart attack never stopped old big bear. I just dont want him to point out my cracker ass in front of Ann. I run a pretty tight ship around here. With a pool table. In fact, it was a box of Oscar's legally obtained medical marijuana. Primo bud. Real sticky weed.</p>

				<p>Mr. Zuckerkorn, you've been warned about touching. You said spanking. Buster, you remember when we were kissing last night? Buster: It was a wild, wild ride. Te quiero. English, please. I love you! Great, now I'm late. ♪♪ It's The Final Countdown ♪♪ He… she… what's the difference? Oh hear, hear. In the dark, it all looks the same. Look what the homosexuals have done to me! You can't just comb that out and reset it?</p>

			{{!-- end: content --}}
	</main>
	{{!-- end: content container --}}

	{{> footer}}
