---
home: active
---
	{{> navbar }}

	{{!-- begin: content container --}}
	<main class="container">

		{{!-- begin: content --}}
			<p>It was the best of times, it was the worst of times.</p>
		{{!-- end: content --}}

	</main>
	{{!-- end: content container --}}

{{> footer}}
