---
title: Resumé
resume: active
---
	{{> navbar }}

	{{!-- begin: content container --}}
	<main class="container">
		{{!-- begin: content --}}
		<h2>Employment History</h2>
		<ul class="employment-history">
			<li>
				<div class="title">Director of Product</div>
				<div class="company">Saylent Technologies</div>
				<div class="dates">Jun 2017 - Present</div>
				<div class="location">Boston, Massachusetts</div>
			</li>
			<li>
				<div class="title">Project Director</div>
				<div class="company">Janeiro Digital</div>
				<div class="dates">Dec 2014 - May 2017</div>
				<div class="location">Boston, Massachusetts</div>
			</li>
			<li>
				<div class="title">Associate Program Manager</div>
				<div class="company">Sapient Nitro</div>
				<div class="dates">Mar 2014 - Nov 2014</div>
				<div class="location">Boston, Massachusetts</div>
			</li>
			<li>
				<div class="title">Project Manager</div>
				<div class="company">Cayan</div>
				<div class="dates">Aug 2012 - Mar 2014</div>
				<div class="location">Boston, Massachusetts</div>
			</li>
			<li>
				<div class="title">Various</div>
				<div class="company">TicketNetwork</div>
				<div class="dates">Sep 2008 - Aug 2012</div>
				<div class="location">South Windsor, CT</div>
				<br>
				<div class="various">
					<div class="title">Interdepartmental Relations Manager / Sr. Project Manager, PMO</div>
					<div class="dates">Sep 2011 - Aug 2012</div>
					<br>
					<div class="title">Project Manager / ScrumMaster</div>
					<div class="dates">Sep 2009 - Oct 2011</div>
					<br>
					<div class="title">Content Developer</div>
					<div class="dates">Sep 2008 - Sep 2009</div>
				</div>
			</li>
		</ul>
		{{!-- end: content --}}
	</main>
	{{!-- end: content container --}}

{{> footer }}
